body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cor de fundo padrão */
}

header {
    background: #4a90e2; /* Cor do cabeçalho */
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 100px; /* Tamanho do logo */
}

.banner {
    position: relative;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    transition: opacity 1s ease-in-out;
}

.conteudo {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333; /* Cor dos títulos */
}

footer {
    background: #333;
    color: white;
    text-align
}